<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smm.dao.OnlineMapper">
  <resultMap id="BaseResultMap" type="smm.model.Online">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="logindatetime" jdbcType="BIGINT" property="logindatetime" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, logindatetime, loginname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tonline
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tonline
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="smm.model.Online">
    insert into tonline (id, ip, logindatetime, 
      loginname)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{logindatetime,jdbcType=BIGINT}, 
      #{loginname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="smm.model.Online">
    insert into tonline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="logindatetime != null">
        logindatetime,
      </if>
      <if test="loginname != null">
        loginname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logindatetime != null">
        #{logindatetime,jdbcType=BIGINT},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smm.model.Online">
    update tonline
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logindatetime != null">
        logindatetime = #{logindatetime,jdbcType=BIGINT},
      </if>
      <if test="loginname != null">
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="smm.model.Online">
    update tonline
    set ip = #{ip,jdbcType=VARCHAR},
      logindatetime = #{logindatetime,jdbcType=BIGINT},
      loginname = #{loginname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="smm.model.Online">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="logindatetime" jdbcType="BIGINT" property="logindatetime" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, logindatetime, loginname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tonline
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tonline
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="smm.model.Online">
    insert into tonline (id, ip, logindatetime, 
      loginname)
    values (#{id,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{logindatetime,jdbcType=BIGINT}, 
      #{loginname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="smm.model.Online">
    insert into tonline
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="logindatetime != null">
        logindatetime,
      </if>
      <if test="loginname != null">
        loginname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logindatetime != null">
        #{logindatetime,jdbcType=BIGINT},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smm.model.Online">
    update tonline
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="logindatetime != null">
        logindatetime = #{logindatetime,jdbcType=BIGINT},
      </if>
      <if test="loginname != null">
        loginname = #{loginname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="smm.model.Online">
    update tonline
    set ip = #{ip,jdbcType=VARCHAR},
      logindatetime = #{logindatetime,jdbcType=BIGINT},
      loginname = #{loginname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>