<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="smm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="smm.model.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="createdatetime" jdbcType="BIGINT" property="createdatetime" />
    <result column="modifydatatime" jdbcType="BIGINT" property="modifydatatime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createdatetime, modifydatatime, name, pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tuser
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tuser
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="smm.model.User">
    insert into tuser (id, createdatetime, modifydatatime, 
      name, pwd)
    values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=BIGINT}, #{modifydatatime,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="smm.model.User">
    insert into tuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdatetime != null">
        createdatetime,
      </if>
      <if test="modifydatatime != null">
        modifydatatime,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        #{createdatetime,jdbcType=BIGINT},
      </if>
      <if test="modifydatatime != null">
        #{modifydatatime,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smm.model.User">
    update tuser
    <set>
      <if test="createdatetime != null">
        createdatetime = #{createdatetime,jdbcType=BIGINT},
      </if>
      <if test="modifydatatime != null">
        modifydatatime = #{modifydatatime,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="smm.model.User">
    update tuser
    set createdatetime = #{createdatetime,jdbcType=BIGINT},
      modifydatatime = #{modifydatatime,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="smm.model.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="createdatetime" jdbcType="BIGINT" property="createdatetime" />
    <result column="modifydatatime" jdbcType="BIGINT" property="modifydatatime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createdatetime, modifydatatime, name, pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tuser
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tuser
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="smm.model.User">
    insert into tuser (id, createdatetime, modifydatatime, 
      name, pwd)
    values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=BIGINT}, #{modifydatatime,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="smm.model.User">
    insert into tuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdatetime != null">
        createdatetime,
      </if>
      <if test="modifydatatime != null">
        modifydatatime,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null">
        #{createdatetime,jdbcType=BIGINT},
      </if>
      <if test="modifydatatime != null">
        #{modifydatatime,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="smm.model.User">
    update tuser
    <set>
      <if test="createdatetime != null">
        createdatetime = #{createdatetime,jdbcType=BIGINT},
      </if>
      <if test="modifydatatime != null">
        modifydatatime = #{modifydatatime,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="smm.model.User">
    update tuser
    set createdatetime = #{createdatetime,jdbcType=BIGINT},
      modifydatatime = #{modifydatatime,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>